html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Catamaran', sans-serif;
	text-decoration: none;
	margin: 0;
}

.bg {
  animation:slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.4;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:15s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

main {
	padding-top: 100px;
}

body {
	background-image: url('/images/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #121315;
	width: 100%;
	height: 120px;
}

header .header-brand {
	font-family: 'Catamaran', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

header nav ul {
	display: block;
	margin: 0 -15px;
}

header nav ul li {
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0 5px;
}

header nav ul li a {
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	color: #fff;
	letter-spacing: 2px;
}

.desktop-hidden {
	display: inline-block;
}

header .header-cases {
	display: none;
}

header hr {
	width: 30%;
	margin: 10px auto;
	margin-top: -10px;
	border-color: #343639;
}

@media only screen and (min-width: 500px) {

	header .header-brand {
		margin: 31px 0;
		text-align: left;
		padding: 0 20px 0px 40px;
		line-height: 38px;
		border-right: 3px solid #fff;
		float: left;
	}

	header nav ul {
		margin: 20px 0 0 20px;
		float: left;
	}

	header nav ul li a {
		line-height: 65px;
		padding: 0 10px;
		font-size: 24px;
	}

	.desktop-hidden {
		display: none;
	}

	header .header-cases {
		display: block;
		text-transform: uppercase;
		line-height: 38px;
		border: 1px solid #fff;
		float: right;
		margin-right: 40px;
		margin-top: 30px;
		padding: 0 20px; 
		text-decoration: none;
		color: #fff;
		box-shadow: none;
		transition: background 2s, color 1s, box-shadow 1s;
		letter-spacing: 8px;
	}

	header .header-cases:hover {
		background: #fff;
		color: #111;
		box-shadow: 8px 8px #f2f2f2;
	}

	header hr {
		display: none;
	}

}

/* INDEX */

.index-banner {
	width: 100%;
	height: calc(100vh - 100px);
	background-image: url('/images/blur.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.product4 {
	background-image: url('/images/devices.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #111;
}

.socials-img {
	background-image: url('/images/social.jpeg') !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #111;	
}

.helpdesk h1, .helpdesk h2, .product4 h1, .product4 h2, .socials-img h1, .socials-img h2 {
	display: none !important;
}

.vertical-center {
	display: block;
	vertical-align: middle;
	margin: 0 auto;
}

.index-banner h2 {
	font-family: 'Catamaran', sans-serif;
	font-size: 60px;
	font-weight: 900 !important;
	line-height: 70px;
	color: #fff;
	padding: 30px 0;
	text-align: center;
	text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
	font-family: Garamond;
	font-size: 28px;
	font-weight: 100;
	font-style: italic;
	line-height: 30px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 8px #111;
}

.index-links div {
	margin: 16px 16px 0;
	width: calc(100% - 32px);
	height: 100px;
	background-color: rgba(60, 60, 60, 0.1);
}

p {
	color: #111;
}

.index-links div h3 {
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 100px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	transition: background 2s, color 1s;
	letter-spacing: 5px;
}

.index-links div h3:hover {
	background-color: rgba(60, 60, 60, 0.3);
}

.index-boxlink-square, .index-boxlink-rectangle {
	background-color: rgba(60, 60, 60, 0.1);
	border-bottom: 5px solid #fff;
}

.wrapper h1 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
}

.wrapper hr {
	display: block;
	margin: 10px auto;
	width: 10%;
	border-color: #111;
	margin-bottom: 20px;
}

.quote {
	text-align: center;
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
}

@media only screen and (min-width: 500px) {
	
	.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	.index-banner {
		height: 450px;
	}

	.index-banner h1 {
		display: block;
		margin: 0 auto !important;
	}

	.index-banner h2 {
		margin: 0 auto !important;
		padding: 70px 0;
	}

	.index-links {
		overflow: hidden;
		margin-left: 20px;
	}

	.index-links div {
		margin: 20px 20px 20px 0;
		height: 230px;
		background-color: rgba(60, 60, 60, 0.1);
		float: left;
	}

	.index-boxlink-square {
		width: calc(25% - 20px) !important;
	}

	.index-boxlink-rectangle {
		width: calc(50% - 20px) !important;
	}

	.index-links div h3 {
		line-height: 230px;
		letter-spacing: 5px;
	}

	.wrapper hr {
		display: block;
		margin: 10px auto;
		width: 10%;
		border-color: #111;
		margin-bottom: 60px;
	}

	.quote {
		text-align: center;
		font-family: 'Catamaran', sans-serif;
		font-size: 30px;
		letter-spacing: 5px;
	}

}

/* PRODUCTS */

.products-links {
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 40px;
}

.products-links h2 {
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
}

.products-links .products-link p {
	padding-top: 45%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
}

.products-links .products-link {
	width: 230px;
	height: 230px;
	margin: 20px auto;
	background-color: rgba(60, 60, 60, 0.1);
	border-bottom: 5px solid #fff;
}

@media only screen and (min-width: 500px) {
	.products-links .products-link {
		float: left !important;
		margin: 20px 10px 0;
	}
}

/* SOCIALS */

.social-links {
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 40px;
}

.social-link .fa {
	font-size: 60px;
}

.social-links h2 {
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
}

.social-links .social-link p {
	padding-top: 35%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
	transition: padding-top 1.5s, text-shadow 1.5s;
}

.social-links .social-link:hover p {
	padding-top: 30%;
}

.social-links .social-link {
	width: 230px;
	height: 200px;
	margin: 20px auto;
	background-color: rgba(60, 60, 60, 0.1);
	border-bottom: 5px solid #fff;
	transition: padding-top 1s;
}

@media only screen and (min-width: 500px) {
	.social-links .social-link {
		float: left !important;
		margin: 20px 10px 0;
	}
}

.f-i {
	color: #3B5998 !important;
}

.i-i {
	color: #e1306c !important;
}

.t-i {
 	color: #3CF !important;
}

.y-i {
	color: #f50004 !important;
}

.c-i {
	color: #000 !important;
}

.p-i {
	color: #c62026 !important;
}

.re-i {
 	color: #f94400 !important;
}

.rs-i {
	color: #f3770a !important;
}

.more {
	text-align: center;
}

.more h2 {
	cursor: pointer;
}

.fas {
	margin-left: 20px;
}

.morebutton {
    border: none;
    background: transparent;
    color: #111;
    font-size: 32px;
}

#moresoc {
    display: none;
}

/* HELPDESK */

.helpdesk-container {
	margin: 10px 0;
	padding: 10px;
}

.helpdesk-container input {
	width: 90%;
	margin: 10px 5px;
	padding: 5px;
	font-size: 16px;
}

.helpdesk-container textarea {
	display: block;
	width: 90%;
	margin: 10px 5px;
	padding: 5px;
	height: 80px;
	font-size: 16px;
	resize: vertical;
	max-height: 120px;
}

.helpdesk-container input, .helpdesk-container textarea {
	border: 3px solid #111;
	border-radius: 4px;
}

.helpdesk-container input:focus, .helpdesk-container textarea:focus {
	border: 3px solid #0066c0;
	background: #efefef;
}

.helpdesk-container input[type="submit"] {
	width: 95%;
	background: #111;
	color: #fff;
	transition: background 2s, color 1s;
	cursor: pointer;
}

.helpdesk-container input[type="submit"]:hover {
	background: #fff;
	color: #111;
}

@media only screen and (min-width: 500px) {
	.wrapper h2 {
		padding: 20px 0;
		font-family: 'Catamaran', sans-serif;
		text-transform: uppercase;
	}

	.helpdesk-container {
		margin: 10px 0;
		padding: 20px;
	}

	.helpdesk-container input, .g-recaptcha {
		display: block;
		width: 40%;
		margin: 10px auto;
		padding: 15px;
		font-size: 24px;
	}

	.helpdesk-container input, .helpdesk-container textarea, .newsletter-container input {
		transition: width 1s, opacity 1s;
	}

	.helpdesk-container input[type="text"]:hover, .helpdesk-container textarea:hover, .newsletter-container input:hover {
		opacity: 100%;
	}

	.helpdesk-container input:focus {
		width: 45%;
	}

	.helpdesk-container input[type="text"], .helpdesk-container textarea, .newsletter-container input {
		border: 3px solid #111;
		border-radius: 4px;
		background-color: white;
		opacity: 70%;
	}

	.helpdesk-container input:focus, .helpdesk-container textarea:focus,  {
		border: 3px solid #09f;
		background: #fff;
	}

	.helpdesk-container input[type="submit"] {
		width: 30%;
		background: #111;
		color: #fff;
		transition: background 2s, color 1s;
		cursor: pointer;
	}

	.helpdesk-container input[type="submit"]:hover {
		background: #fff;
		color: #111;
	}

	.helpdesk-container textarea {
		display: block;
		width: 40%;
		margin: 10px auto;
		padding: 15px;
		height: 145px;
		font-size: 24px;
		resize: none;
	}
}

/* NEWSLETTER */

.newsletter-container {
	background-color: rgba(60, 60, 60, 0.1);
	margin: 0 15px;
	padding: 15px;
}

.newsletter-h2 {
	margin: 50px 20px 20px;
	letter-spacing: 1px;
}

.newsletter-container input[type="text"] {
	padding: 10px;
	border: 2px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-radius: 0;
}

.newsletter-container input[type="submit"] {
	padding: 10px;
	background: #121315;
	border: 2px solid transparent;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-radius: 0px;
	border-left: none;
	color: #fff;
}

@media only screen and (min-width: 400px) {

	.newsletter-container {
		margin: 20px auto;
		background-color: rgba(60, 60, 60, 0.1);
		border-bottom: 5px solid #fff;
		padding: 60px;
	}

	.newsletter-h2 {
		letter-spacing: 5px;
	}

	.newsletter-container input {
		padding: 10px;
		width: 60%;
		border: 2px solid #fff;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		font-size: 16px;
	}

	.newsletter-container input[type="submit"] {
		width: 30%;
		padding: 1.2%;
		background: #121315;
		border: 2px solid transparent;
		border-top-right-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
		border-radius: 0px;
		border-left: none;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		opacity: 1;
	}

}

/* GALLERY */

.gallery-links-h2 {
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
}

.gallery-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.gallery-img {
	flex-basis: 300px;
	margin: 10px;
}

.gallery-img img {
	width: 100%;
}

@media only screen adn (min-width: 500px) {

	.gallery-links-h2 {
		font-size: 28px;
	}

	.gallery-img {
		flex-basis: 600px;
	}

	.gallery-img img {
		width: 100%;
	}

	.wrapper-gallery {
		margin: 50px auto;
	}

}

/* LOGIN & REGISTER */

.login {
	margin: 25% auto;

}

.register {
	margin: 10% auto;
}

.login input[type="password"]:hover, .register input[type="password"]:hover {
	opacity: 100%;
}

.login input[type="password"], .register input[type="password"] {
	border: 3px solid #111;
	border-radius: 4px;
	background-color: white;
	opacity: 70%;
}

.login button, .register button {
	display: block;
	width: 95%;
	margin: 10px auto;
	padding: 10px;
	font-size: 20px;
	background-color: #121315;
	border: 3px solid #121315;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: background 2s, color 1s;
}

.login-message {
	display: none;
}

.login button:hover, .register button:hover {
	background: #fff;
	color: #111;
}

.left-table, .top-table, .right-table {
	display: none;
}

@media only screen and (min-width: 500px) {

	.login {
		margin: 15% auto;
	}

	#lgpanel {
		display: block;
	}

	.login input[type="submit"], .register input[type="submit"] {
		width: 418px;
	}

	.login button, .register button {
		width: 418px;
	}

	.login button:hover, .register button:hover {
		background: #121315;
		color: #fff;
	}

	.login-message {
		display: block;
		position: fixed;
		top: 38.5%;
		left: 32%;
		width: 30%;
		background-color: rgba(255, 255, 255, 0.3);
		background-image: url('/images/login.png');
		background-repeat: no-repeat;
		padding: 40px;
		border-radius: 15px;
	}

	.login-img {
		float: left;
	}

	.login-message p {
		float: right;
		font-family: 'Rock Salt', cursive;
		padding-top: 10%;
		padding-left: 20px;
		padding-bottom: 55px;
		font-size: 50px;
		line-height: 1;
	}

	.login-close {
		position: absolute;
		right: 20px;
		top: 2px;
		font-size: 30px;
		cursor: pointer;
		font-weight: bold;
	}

	.left-float {
		float: left;
		margin: 0;
		padding: 0;
	}

	.options .left-float:hover table {
		display: inline-block;
		text-align: justify;
	}

	.options .left-float:hover table td {
		font-size: 20px;
		clear: both;
		cursor: default;
	}

	.options .right-float:hover table {
		display: inline-block;
		text-align: justify;
	}

	.options .right-float:hover table td {
		font-size: 20px;
		clear: both;
		cursor: default;
	}

	.left-float table, .right-float table {
		display: none;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		text-align: justify;
		padding: 10px;
	}

	ul {
		list-style: none;
		text-align: justify;
	}

	.right-float {
		float: right;
	}

	.top-table {
		display: block;
	}

	.top-table img {
		width: 160px;
		margin: 0 160px;
	}

}


/* HELP CENTER */


.terms-container {
	margin: 100px 10px;
	text-align: center;
}

.terms-container table {
	background: rgba(255, 255, 255 ,0.6);
	border: none;
	width: 100%;
	border-collapse: collapse;
}

.terms-container .table-title {
	font-weight: bold;
	letter-spacing: 5px;
}

.terms-container .table-title:hover {
	background: rgba(255, 255, 255, 0.6);
}

.terms-container h1 {
	font-size: 30px;
	letter-spacing: 5px;
}

.print {
	display: none;
}

.download {
	display: none;
}

.fa-print {
	margin-right: 5px;
	color: #000;
}

.fa-newspaper-o {
	margin-right: 5px;
}

.fa-download {
	margin-right: 5px;
	color: #000;
}

.terms-container table tr:hover {
	background: rgba(221, 221, 221, 0.6);
}

.terms-container table tr td {
	padding: 15px;
	font-size: 20px;
	text-align: justify;
}

.terms-container table tr td a {
	color: #000;
}

.terms-container table tr td a:hover {
	color: #0808dd;
	text-decoration: underline;
}

.table-title {
	background-color: rgba(255, 255, 255, 0.6); !important;
}

.gray {
	background: rgba(241, 241, 241, 0.6);
	border: #ccc;
}

@media only screen and (min-width: 500px) {

	.terms-container table tr td {
		padding-left: 10%;
	}

	.terms-container .print, .terms-container .download {
		/*float: right !important;*/
		cursor: pointer;
		margin: 0 20px;
	}

	.terms-container table td span {
		float: right;
	}

	.print {
		display: inline-block;
	}

	.download {
		display: inline-block;
	}

}

/* TERMS */

.terms-main {
	margin: 10px;
	background: #fff;
	border-radius: 15px;
	padding-bottom: 25px;
	color: #000;
}

.terms-main p {
	font-size: 30px;
}

.terms-p {
	padding: 25px;
	font-size: 17px !important;
	text-align: justify;
}

.terms-p-1 {
	padding-top: 15px !important;
	padding: 55px;
	font-size: 17px !important;
	text-align: justify;
}

.terms-p-1 b {
	font-family: Arial sans-serif;
	font-size: 14px;
}

.terms-main h1 {
	padding: 20px;
	font-size: 60px;
}

.terms-main h3 {
	padding: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Arial sans-serif;
}

.terms-main h2 {
	text-align: left;
	text-decoration: underline;
	padding-left: 25px;
}

/* FOOTER */

footer {
	width: calc(100% - 80px);
	padding: 40px 40px;
	margin-top: 20px;
	background-color: #111;
	overflow: hidden;
}

footer ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li {
	display: block;
	list-style: none;
}

footer ul li a {
	font-size: 24px;
	color: #fff;
	line-height: 40px;
}

footer ul li a:hover {
	text-decoration: underline;
}

.footer-links-cases {
	display: none;
}

.footer-sm {
	width: 50px;
	float: right;
}

footer .fa {
	font-size: 60px !important;
	color: #fff;
}

.footer-sm .fa {
	width: 100%;
	margin-bottom: 10px;
}

@media only screen and (min-width: 500px) {

	.footer-links-cases {
		display: block;
	}

	footer ul {
		padding-right: 30px;
	}

	footer ul li p {
		font-size: 24px;
		color: #fff;
		line-height: 40px;
		text-transform: uppercase;
	}

	.footer-links-main {
		padding-right: 20px;
		border-right: 2px solid #fff;
	}

	.footer-links-cases {
		margin-left: 40px;
	}

	.footer-links-cases p {
		letter-spacing: 5px;
	}

	.copyright:hover {
		text-decoration: none;
	}

}